.app {
    max-width: 1000px;
    min-width: 400px;
    margin: auto;
    border: 2px solid #008a83;
    padding: 20px;
}

.page-title {
    text-align: center;
    font-family: "Segoe UI", "微软雅黑", "Microsoft YaHei", sans-serif;
    font-size: 2em;
    color: #008a83;
}

hr {
    color: gray;
}